*{
    margin: 0;
    padding: 0;
    outline:none;
    box-sizing: border-box;
    border: none;
    list-style:none;
    text-decoration: none;
    text-transform: capitalize;
    scroll-behavior: smooth;
    transition: all 0.2s linear;

}

body{
    font-family: 'Poppins', sans-serif;
    background-color: #11191d;
}
.logo{
    font-size: 400%;
    font-weight: 700;
    color: white;
    margin-left: 20px;
}
nav{
    display: flex;
    margin-top: 10px;

}.nav-box{
    overflow: visible;
}
.nav-box{
    display: flex; 
    align-items: center; 
    margin-right: 20px;
    margin-left: auto; 
    background-color:transparent;
    border: 5px solid #650081;
    border-radius: 20px; 
    padding: 10px; 
    padding-right: 40px; 
    padding-left: 40px; 
    justify-content: center;
    width: auto;
    
}

.nav-box a{
    position: relative;
    padding: 10px 23px;
    margin: 0 15px;
    color: white;
    background: #650081;
    border-radius: 10px;
    text-decoration: none;
    font-weight: 600;
    overflow: visible;
    z-index: 1;
}

.nav-box a::before{
    content: "";
    position: absolute;
    inset: -4px;
    background: linear-gradient(
        90deg,
        #03a9f4,
        #f441a5,
        #ffeb3b,
        #03a9f4
    );
    background-size: 400%;
    border-radius: 14px;
    z-index: -1;
    opacity: 0;
}

.nav-box a::after{
    content: "";
    position: absolute;
    inset: -6px;
    background: linear-gradient(
        90deg,
        #03a9f4,
        #f441a5,
        #ffeb3b,
        #03a9f4
    );
    background-size: 400%;
    filter: blur(18px);
    border-radius: 14px;
    z-index: -2;
    opacity: 0;
}

.nav-box a:hover::before,
.nav-box a:hover::after{
    opacity: 1;
    animation: glow 6s linear infinite;
}

.nav-box a:hover{
    background: #fff;
    color: #000;
}

/* animation */
@keyframes glow{
    0%{ background-position: 0%; }
    100%{ background-position: 400%; }
}







.big-box1{
    display: flex;
}
.con{
    margin-right: 3%;
    margin-left: auto;
    position: relative;
    background: radial-gradient(#650081,#650081,#650081,#650081,transparent,transparent,transparent);
    margin-bottom: 0px;
    padding-bottom: 03;
}
.con img{
    width: 570px;
}

.box{
    width: 800px;
    
    padding-top: 100px;
    margin: 2%;
    margin-left: 2%;
/*
    background-color:#650081;*/
    margin-bottom: 03px;
    border-radius: 15px;
    padding-left: 20px;
    

    
}

.box1{
    font-size: 32px;
    color: white;
    font-weight: 600;
}
.box2{
    font-size: 32px;
    color: #650081;
    font-weight: 600;
    background-color: white;
    width: 350px;
    height: 60px;
    padding-top: 10px;
    text-align: center;
    border-radius: 15px;
}
.box3{
    margin-top: 10px;
    font-size: 32px;
    color: white;
    font-weight: 600;
}

.box32{
    font-size: 62px;
    color: white;
    font-weight: 600;

}
.link{
    margin-top: 20px;
}

.link a{
    padding: 15px 60px;
    background: #03a9f4;
    margin-right: 30px;
    border-radius: 15px;
    color: white;
    font-weight: 600;
    transform: none;
    transition: none;
}
.link a:hover{
    padding: 12px 57px;
    border-radius: 15px;
    color: rgb(0, 0, 0);
    font-weight: 600;
    border: 5px solid #03a9f4;
    background-color: white;
}
.link2{
    margin-top: 30px;
    font-size: 67px;
    
}
.link2 a{
    margin-right: 14px;
    color: white;
    display: inline-block;


}
.link2 a:hover{
    margin-right: 14px;
    color: #32d074;
    animation: kol 2s ease infinite;
}

@keyframes kol{
    0%{
        transform: rotatey(0deg);
    }
    100%{
        transform: rotatey(360deg);
    }
}

.link2 ul {
  display: flex;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.link2 ul li {
  list-style: none;
}

.link2 ul li a {
  width: 80px;
  height: 80px;
  background-color: #fff;
  text-align: center;
  line-height: 80px;
  font-size: 35px;
  margin: 0 10px;
  display: block;
  border-radius: 50%;
  position: relative;
  overflow: hidden;
  border: 3px solid #fff;
  z-index: 1;
}

.link2 ul li a .icon {
  position: relative;
  color: #262626;
  transition: .5s;
  z-index: 3;
}

.link2 ul li a:hover .icon {
  color: #fff;
  transform: rotateY(360deg);
}

.link2 ul li a:before {
  content: "";
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 100%;
  background: #f00;
  transition: .5s;
  z-index: 2;
}

.link2 ul li a:hover:before {
  top: 0;
}

.link2 ul li:nth-child(1) a:before{
  background: #3b5999;
}

.link2 ul li:nth-child(2) a:before{
  background: #55acee;
}

.link2 ul li:nth-child(3) a:before {
  background: #0077b5;
}

.link2 ul li:nth-child(4) a:before {
  background: #0077b5;
}

.link2{
    margin: 90px;
    margin-left: 230px;
}



.box{
    position: relative;
    border-radius: 15px;/*
    background: #650081;*/
    z-index: 1;
}

/* animated border layer */
.box::before{
    content: "";
    position: absolute;
    inset: -2px;
    border-radius: 17px;
    background: linear-gradient(
        90deg,
        #00fff7,
        #ff00ff,
        #11191d
    );
    animation: borderMove 3s linear infinite;
    z-index: -1;
}

/* cut center so only border shows */
.box::after{
    content: "";
    position: absolute;
    inset: 3px;
    border-radius: 12px;
   
    background: #11191d;
    z-index: -1;
}

@keyframes borderMove{
    0%{ filter: hue-rotate(0deg); }
    100%{ filter: hue-rotate(360deg); }
}

.boxs{
    margin-top: 10px;
    display: flex;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    color: #ffffff;

}
.boxs1{
    margin: 5%;
    background-color:  #650081 ;
    justify-content: center;
    padding-bottom: 20px;
    padding-top: 20px;
    text-align: center;
    border-radius: 15px;
    border: 5px solid #650081 ;
}

.boxs1:hover{
    
    border: 5px solid #650081 ;
    background-color: white;
    color: black;
}
.min_boxs1{
    font-weight:600;
    font-size: 50px;
}

.min_boxs2{
    font-weight:600;
    font-size: 30px;
}

.adout{
    background-color: #00fff7;

}
.about_hedding{
    justify-content: center;
    text-align: center;
    font-size:55px;
    font-weight: 700;
}
.about_content{
    display: flex;
}
.about_content img{
    width: 500px;
}






