*{
    margin: 0;
    padding: 0;
    outline:none;
    box-sizing: border-box;
    border: none;
    list-style:none;
    text-decoration: none;
    text-transform: capitalize;
    scroll-behavior: smooth;
    transition: all 0.2s linear;

}

body{
    font-family: 'Poppins', sans-serif;
}
.logo{
    font-size: 400%;
    font-weight: 700;
}
nav{
    display: flex;
    margin-top: 10px;

}.nav-box{
    overflow: visible;
}
.nav-box{
    display: flex; 
    align-items: center; 
    margin-right: 20px;
    margin-left: auto; 
    background-color:transparent;
    border: 5px solid rgb(91, 105, 89); 
    border-radius: 20px; 
    padding: 10px; 
    padding-right: 40px; 
    padding-left: 40px; 
    justify-content: center;
    width: auto;
    
}

.nav-box a{
    position: relative;
    padding: 10px 23px;
    margin: 0 15px;
    color: #fff;
    background: #56d826;
    border-radius: 10px;
    text-decoration: none;
    font-weight: 600;
    overflow: visible;
    z-index: 1;
}

.nav-box a::before{
    content: "";
    position: absolute;
    inset: -4px;
    background: linear-gradient(
        90deg,
        #03a9f4,
        #f441a5,
        #ffeb3b,
        #03a9f4
    );
    background-size: 400%;
    border-radius: 14px;
    z-index: -1;
    opacity: 0;
}

.nav-box a::after{
    content: "";
    position: absolute;
    inset: -6px;
    background: linear-gradient(
        90deg,
        #03a9f4,
        #f441a5,
        #ffeb3b,
        #03a9f4
    );
    background-size: 400%;
    filter: blur(18px);
    border-radius: 14px;
    z-index: -2;
    opacity: 0;
}

.nav-box a:hover::before,
.nav-box a:hover::after{
    opacity: 1;
    animation: glow 6s linear infinite;
}

.nav-box a:hover{
    background: #fff;
    color: #000;
}

/* animation */
@keyframes glow{
    0%{ background-position: 0%; }
    100%{ background-position: 400%; }
}


.big-box{
    display: block;
    background:linear-gradient(#5ff40395,#f441a600,#ffeb3b1b,#2abcff);
    padding: 10px;
    

}


.big-box1{
    display: flex;
    background-color: #03a8f400;
}
.big-box1 img{
    width: 35%;
    height: auto;
    margin-left: 2%;
    margin-top: -3%;
}
.box{
    margin-top: 12%;
    margin-left: 5%;
}
.box1{
    font-size: 30px;
    font-weight:600;
}
.box2{
    font-size: 45px;
    font-weight: 700;
}
.box3{
    display: flex;
}
.box31{
     font-size: 30px;
     padding-right: 10px;

}
.box32{
     font-size: 30px;
}
/*
.color{
    position: absolute;
    background:linear-gradient(#5ff40395,#f441a600,#ffeb3b1b,#2abcff);
    width: 100%;
    height: 700px;
}
*/
.link{
    margin-top: 20px;
}

.link a{
    padding: 15px 60px;
    background: #03a9f4;
    margin-right: 30px;
    border-radius: 15px;
    color: white;
    font-weight: 600;
    transform: none;
    transition: none;
}
.link a:hover{
    padding: 12px 57px;
    border-radius: 15px;
    color: rgb(0, 0, 0);
    font-weight: 600;
    border: 3px solid #03a9f4;
    background: none
}



