*{
    margin: 0;
    padding: 0;
    outline:none;
    box-sizing: border-box;
    border: none;
    list-style:none;
    text-decoration: none;
    text-transform: capitalize;
    scroll-behavior: smooth;
    transition: all 0.2s linear;

}

body{
    font-family: 'Poppins', sans-serif;
}
.logo{
    font-size: 400%;
    font-weight: 700;
}
nav{
    display: flex;
    margin-top: 10px;

}.nav-box{
    overflow: visible;
}
.nav-box{
    display: flex; 
    align-items: center; 
    margin-right: 20px;
    margin-left: auto; 
    background-color:transparent;
    border: 5px solid rgb(91, 105, 89); 
    border-radius: 20px; 
    padding: 10px; 
    padding-right: 40px; 
    padding-left: 40px; 
    justify-content: center;
    width: auto;
    
}

.nav-box a{
    position: relative;
    padding: 10px 23px;
    margin: 0 15px;
    color: #fff;
    background: #56d826;
    border-radius: 10px;
    text-decoration: none;
    font-weight: 600;
    overflow: visible;
    z-index: 1;
}

.nav-box a::before{
    content: "";
    position: absolute;
    inset: -4px;
    background: linear-gradient(
        90deg,
        #03a9f4,
        #f441a5,
        #ffeb3b,
        #03a9f4
    );
    background-size: 400%;
    border-radius: 14px;
    z-index: -1;
    opacity: 0;
}

.nav-box a::after{
    content: "";
    position: absolute;
    inset: -6px;
    background: linear-gradient(
        90deg,
        #03a9f4,
        #f441a5,
        #ffeb3b,
        #03a9f4
    );
    background-size: 400%;
    filter: blur(18px);
    border-radius: 14px;
    z-index: -2;
    opacity: 0;
}

.nav-box a:hover::before,
.nav-box a:hover::after{
    opacity: 1;
    animation: glow 6s linear infinite;
}

.nav-box a:hover{
    background: #fff;
    color: #000;
}

/* animation */
@keyframes glow{
    0%{ background-position: 0%; }
    100%{ background-position: 400%; }
}


.big-box{
    display: block;
    background:linear-gradient(#5ff40395,#f441a600,#ffeb3b1b,#2abcff);
    padding: 10px;
    

}


.big-box1{
    display: flex;
    background-color: #03a8f400;
}
.big-box1 img{
    width: 35%;
    height: auto;
    margin-left: 2%;
    margin-top: -3%;
}
.box{
    margin-top: 12%;
    margin-left: 5%;
}
.box1{
    font-size: 30px;
    font-weight:600;
}
.box2{
    font-size: 45px;
    font-weight: 700;
}
.box3{
    display: flex;
}
.box31{
     font-size: 30px;
     padding-right: 10px;

}
.box32{
     font-size: 30px;
}
/*
.color{
    position: absolute;
    background:linear-gradient(#5ff40395,#f441a600,#ffeb3b1b,#2abcff);
    width: 100%;
    height: 700px;
}
*/
.link{
    margin-top: 20px;
}

.link a{
    padding: 15px 60px;
    background: #03a9f4;
    margin-right: 30px;
    border-radius: 15px;
    color: white;
    font-weight: 600;
    transform: none;
    transition: none;
}
.link a:hover{
    padding: 12px 57px;
    border-radius: 15px;
    color: rgb(0, 0, 0);
    font-weight: 600;
    border: 3px solid #03a9f4;
    background: none
}
.link2{
    margin-top: 30px;
    font-size: 67px;
}
.link2 a{
    margin-right: 14px;
    
    display: inline-block;


}
.link2 a:hover{
    margin-right: 14px;
    color: #2f03f4;
    animation: kol 2s ease infinite;
}

@keyframes kol{
    0%{
        transform: rotatey(0deg);
    }
    100%{
        transform: rotatey(360deg);
    }
}

/*why me*/

.boxs{
    background-color: #2abcff;
    display: grid;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.boxs1{
    margin: 3%;
    background-color:  #a1e1ff ;
    justify-content: center;
    padding-bottom: 20px;
    padding-top: 20px;
    text-align: center;
    border-radius: 15px;
}
.min_boxs1{
    font-weight:600;
    font-size: 50px;
}

.min_boxs2{
    font-weight:600;
    font-size: 30px;
}

/*about section

.adout{
    
    background-color: #03a9f4;
}

.about_hedding{
    text-align: center;
    padding-top: 10px;
    font-size: 60px;
    font-weight: 700;
}
.about_content{
    display: flex;
}

.about_content img{
    width: 40%;
    margin-top: -190px;
   height: 40%;
   border: 2px solid #2f03f4;
   border-radius: 200px;
   
}
.about_content .boxs1{
    width: 66%;
    height: 40%;
    margin-left: -50px;
    font-size: 28px;
    text-align:justify;
    padding: 10px;
    font-family: 'Times New Roman', Times, serif;
}


/* ===== About Section ===== */
.adout{
    width: 100%;
    padding: 60px 2%;
    background:#03a9f4;
    padding-right: 10px;
}

/* Heading */
.about_hedding{
    text-align: center;
    font-size: 64px;
    font-weight: 700;
    margin-bottom: 50px;
    color: #222;
}

/* Content layout */
.about_content{
    display: flex;
    align-items: center;
    gap: 40px;
}

/* Image */
.about_content img{
    width: 30%;
    height: 15%;
    object-fit: cover;          /* image crop */
    object-position: top;
    border-radius: 2000px;
    box-shadow: 0 10px 25px #a1e1ff ;
   
}

/* Text box */
.about_content .boxs1{
    background: #03a9f4;
    padding: 3px;
    border-radius: 12px;
    box-shadow: 0 10px 25px #a1e1ff ;
    
}

/* Paragraph */
.boxs1 p{
    font-size: 16px;
    line-height: 1.8;
    color: #333;
    text-align: justify;
    font-weight: 700;
    font-size: 15px;
    padding: 10px;
}

/* ===== Responsive ===== */
@media (max-width: 900px){
    .about_content{
        flex-direction: column;
        text-align: center;
    }

    .about_content img{
        width: 300px;
        height: 300px;
    }

    .boxs1 p{
        text-align: left;
        text-align: justify;
    }
}